h1{
    color: pink;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin-left: 50px;
    height: 150px;
}
h1:hover{
    color: blue;
    background-color: black;
    padding: 15px;
}

h2{
    color: rgb(255, 255, 255);
    background-color: blue;
    text-align: center;
    padding: 10px;
    margin-right: 50px;
    height: 120px;
    
}
 h2:hover{
    color: rgb(255, 242, 0);
    background-color: black;
    padding: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
 }

 img{
    height: 70px;
    width: auto;
 }