@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #F8F9FA;
    color: #333333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: #C5A253;
    font-size: 4rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #005F73;
}

h3 {
    color: #556B2F;
}

header {
    text-align: center;
    margin-bottom: 20px;
    padding: 15px 0;
    border-bottom: 2px solid #C5A253;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

nav button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 110px;
    height: 42px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-4px);
    background-color: #C5A253;
    color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.produto {
    background-color: #C5A253;
    color: #333333;
    width: 280px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.produto img {
    height: 160px;
    width: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.produto button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 110px;
    height: 42px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.produto:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

a {
    text-decoration: none;
    color: #005F73;
    font-weight: 500;
    transition: color 0.3s, transform 0.2s;
}

a:hover {
    transform: translateY(-3px);
    color: #C8A2C8;
}

footer {
    margin-top: 60px;
    text-align: center;
    color: #333333;
    border-top: 2px solid #C5A253;
    padding: 20px 0;
    background-color: #C5A253;
    font-weight: 500;
}

.t {
    text-align: left;
}

.topo h3 {
    text-align: left;
}
